<footer class="footer-custom mt-5">
    <div class="container">
        <div class="row justify-content-center text-center">
            
            <!-- Secci贸n del mapa del sitio -->
            <div class="col-md-6">
                <h5 class="fw-bold text-white">Mapa del Sitio</h5>
                <ul class="list-unstyled d-flex justify-content-center gap-3">
                    <li>
                        <a href="/dispositivos" class="text-white text-decoration-none">Inicio</a>
                    </li>
                    <li>
                        <a href="https://github.com/JCasaisCar/dispositivosCrud/blob/main/README.md" class="text-white text-decoration-none">Documentaci贸n</a>
                    </li>
                </ul>
            </div>

            <!-- Texto de derechos reservados -->
            <div class="col-12">
                <p class="mb-2 text-center">&copy; 2025 Gesti贸n de Dispositivos - Todos los derechos reservados</p>
            </div>

            <!-- Bot贸n para volver arriba -->
            <div class="col-12 mt-2">
                <a href="#" id="scrollToTop" class="btn btn-light rounded-circle shadow-lg p-3">
                    
                </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>